/* fix the normalize overflow since we use a sidebar and don't want the overflow for the sidebar */
html {
    overflow-y: auto;
}
a {
    color: #0000FF;
    text-decoration: none;
}
a:visited {
    color: #0000BB;
}
a:hover {
    color: #FF0000;
}
a:focus {
    outline: none;
}

/* =============================================================================
   Basic Layout for sidebar + content
   ========================================================================== */
#sidebar {
    background-color: #EDEDED;
    background-image: linear-gradient(top, #EDEDED 0%, #F5F5F5 100%);
    background-image: -o-linear-gradient(top, #EDEDED, #F5F5F5);
    background-image: -moz-linear-gradient(center top, #EDEDED 0%, #F5F5F5 100%);
    background-image: -webkit-gradient(linear, left top, left 500, color-stop(0, #EDEDED), color-stop(1, #F5F5F5) );
    background-image: -webkit-linear-gradient(top, #EDEDED 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(top, #EDEDED 0%, #F5F5F5 100%);
    border-right: 1px solid #C2C2C2;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
    -moz-box-shadow: inset -12px 0 30px -30px #000;
    -webkit-box-shadow: inset -12px 0 30px -30px #000;
    box-shadow: inset -12px 0 30px -30px #000;
    text-shadow: #F5F5F5 0 1px 0;
}
#sidebar-pane {
    border-right: 1px solid #C2C2C2;
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 1px;
    overflow: hidden;
    top: 0;
    width: 5px; 
    left: 151px;
    cursor: default;
    height: 100%;
    background-color: #DFDFDF;
    text-align: left;
    z-index: 2;
}
#sidebar-trigger {
    position: absolute;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    font-size: 1px;
    cursor: pointer;
    z-index: 1;
    visibility: visible;
    /* background: none repeat scroll 0% 0% rgb(170, 170, 170); */
    height: 35px;
    width: 5px;
    top: 50%;
    left: 0;
}
.trigger-left {
    background: url("../images/mini-left.gif") no-repeat scroll right top transparent;
}
.trigger-right {
    background: url("../images/mini-right.gif") no-repeat scroll right top transparent;
}
#logo {
    height: 40px;
    left: 25px;
    position: absolute;
    top: 5px;
    width: 99px;
}
#tab-container {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    text-align: right;
    top: 50px;
}
#tab-container a {
    text-decoration: none;
}
#tab-container div {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #808080;
    cursor: pointer;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding-right: 25px;
}
#tab-container div.active, #tab-container div:hover {
    background-color: #D4D4D4;
    border-color: #BFBFBF;
    color: #000;
    -moz-box-shadow: inset -12px 0 30px -30px #000;
    -webkit-box-shadow: inset -12px 0 30px -30px #000;
    box-shadow: inset -12px 0 30px -30px #000;
    text-shadow: 0 1px 0 #DBDBDB;
    /*
    -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #eaeef3),
    -webkit-linear-gradient(left, #eaeef3, #eaeef3 97%, #d3d7db);
    -webkit-border-end: 1px solid #c6c9ce;
    */
}
#content {
    bottom: 0;
    left: 156px;
    color: #000;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 20px 20px;
    min-width: 400px;
    font-size: 13px;
}
/* =============================================================================
   Content Layout
   ========================================================================== */
/* column container */
.colmask {
    position:relative; /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    overflow:hidden;
    border: 1px solid #DFDEDE;
    background:#F4F4F4;
    width: 100%;
}
/* content section column */
.col2 {
    float:left;
    overflow:hidden;
    font-family: "Trebuchet MS",Verdana,Helvetica,sans-serif;
    padding: 12px;
    width: 250px; /* optional */
}
/* content column */
.col1 {
    width: 100%;
    float: none;
    padding: 12px 0;
}
/* section + content wrapper */
.section, .Servers form, #addFeed, #addFeedContent { 
    border-bottom: 1px solid #DFDEDE;
    /*overflow: hidden;*/
    overflow: auto;
}
.section:last-child, .Servers form:last-child {
    border: none;
}
/* =============================================================================
   Content Styling (col1/col2)
   ========================================================================== */
.col2 h3 {
    background: none repeat scroll 0 0 #666;
    color: #FFF;
    padding: 6px 8px;
    vertical-align: middle;
    margin: 0;
}
.example {
    background-color: #FEFEEE;
}
.presets input {
    margin: 2px 0;
}
label.config {
    float: left;
    width: 24%;
    font-weight: 700;
    display: block;
    text-align: left;
    margin-right: 10px;
    margin-left: 20px;
}
label.narrow {
    width: 200px !important;
}
label.wide {
    width: auto !important;
}
.desc {
    display: block;
    margin: 0 0 0 24%;
    padding: 3px 0 0 31px;
    font-size: 90%;
    font-style: italic;
}
.desc.narrow {
    margin: 0 0 0 200px !important;
}
.desc-check {
    font-size: 90%;
    font-style: italic;
    padding: 0 1px;
}
#content p, #content li {
    font-size: 12px;
    color: #666;
}
div.field-pair { 
    padding: 6px;
    clear: both;
    float: none;
    overflow: hidden;
    /* makes things wrap nicer for small resolutions */
    min-width: 555px;
}
#content fieldset { 
    border:0;
    outline: 0;
    min-width: 350px;
    margin: 0;
    padding: 0px 12px 12px 6px;
}
input[type='url'],
input[type='email'],
input[type='text'],
input[type='password'],
select { 
    padding-left: 5px;
    border: 1px solid #D4D0C8;
}
select option{ 
    padding-left: 5px;
}
input[type='checkbox'] {
    display: block;
    white-space: nowrap;
    padding: 0;
    margin-left: 5px;
}
select:hover, input[type='url']:hover, input[type='email']:hover, input[type='text']:hover, input[type='password']:hover,
select:focus, input[type='url']:focus, input[type='email']:focus, input[type='text']:focus, input[type='password']:focus {
    background-color: #FFFFF0;
    border: 1px solid #AAA;
}
.col1 input[type='checkbox'] {
    position: absolute;
    top: auto !important;
    height: 16px;
    width: 16px;
    margin-left: 0;
}
.alt {
    background-color: #EEE;
}
/* :nth-child is not supported in all browsers.. shame */
/*
.col1 div.field-pair:nth-child(even) {
    background-color: #EEEEEE;
}
*/
.even {
    background-color: #DFDEDE;
}
.readonly {
    background-color: #EFF;
}
.multiple_cats { 
    padding: 5px 10px !important;
    margin-top: 2px;
}
.padding { 
    padding: 6px;
}
.disabled {
    color: #AAA;
}
.padTable p {
    margin-top: 0;
}
.nomargin {
    margin: 0;
}
.path {
    font-family: 'Verdana','Helvetica','Sans-serif','sans';
    color: #000;
    font-weight: 400;
}
.darkred {
    color: #900;
}
.scheduleEntry {
    padding: 3px 0;
}
.time {
    padding: 0 10px;
    color: #000;
    font-weight: 700;
}
.frequency {
    padding-right: 5px;
    letter-spacing: 0.5px;
}
.padTable {
    padding: 15px;
    overflow: auto;
    clear: both;
}
.padTable h3 {
    margin-top: 0;
}
.catTable th, .catTable td {
    padding: 5px;
}
.catTable th {
    text-align: center;
}

.default {
    background-color: #FFFFE0;
    border-bottom: 1px solid #AAA;
    border-top: 1px solid #DDD;"
}

.hidden { visibility:hidden; }
.float-left { float: left; }
.float-right { float: right; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align:center; }
.nowrap { white-space: nowrap; }

/* for cat sorting */
.Key {
    display: none;
    border: 1px solid #CCC;
    width: 425px;
}
.Key th, .tableHeader {
    background: none repeat scroll 0 0 #666;
    color: #FFF;
    margin: 0;
    padding: 3px 9px;
}
.Key td {
    padding: 2px;
}
.Key tr {
    border-bottom: 1px solid #CCC;
}
/* for the config default 'info page' */
#infoTable {
    font-family: 'Verdana','Helvetica','Sans-serif','sans';
    font-size: 12px;
    width: 100%;
}
#infoTable tr {
    line-height: 17px;
}
.infoTableHeader, .infoTableCell {
    padding: 6px;
}
.infoTableHeader {
    font-weight: 700;
    width: 200px;
}
.infoTableSeperator {
    border-top: 1px solid #DDD;
}
span.deleteicon {
    position: relative;
}
span.deleteicon span {
    position: absolute;
    display: block;
    top: 0;
    right: 3px;
    width: 16px;
    height: 16px;
    z-index: 1;
    background: url('http://www.hyphenpress.co.uk/images/application/clear.gif');
    cursor: pointer;
}
span.deleteicon input {
    padding-right: 16px;
}

/* Notifications related css */
.icon {
    padding-left: 20px;
}
.loading {
    background: url('../images/loading16.gif') no-repeat left bottom;
}
.success {
    background: url('../images/yes16.png') no-repeat left bottom;
}
.failure {
    background: url('../images/no16.png') no-repeat left bottom;
}

/* RSS related css */
.expander-anchor {
    background: url('../images/expander-plus.png') no-repeat scroll 20px center transparent;
    color: #4B4742;
    display: block;
    padding: 5px 5px 5px 40px;
    text-decoration: none;
}
.expander-anchor:visited {
    color: #4B4742;
}
.expander-content {
    display: none;
}
.open {
    background: url('../images/expander-plus.png') no-repeat scroll 15px center transparent;
}
.close {
    background: url('../images/expander-minus.png') no-repeat scroll 15px center transparent;
}
h2.activeRSS {
    margin-bottom: 10px;
}
.activeRSS a, .activeRSS a:visited  {
    text-decoration: none;
    color: #000;
}
.activeRSS a:hover {
    color: #4B4742;
}
.feed {
    text-decoration: none;
}
.feed_enabled {
    color: #000;
    text-shadow: 0 1px 0 #DBDBDB;
}
.feed_disabled {
    color: #990000;
    text-shadow: 0 1px 0 #DBDBDB;
}

option.flag {
  padding-left: 35px; 
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 10px 50%; 
}
select .selected {
    font-weight: 700;
}

/* folder browser related */
#fileBrowserDialog {
  max-height: 480px;
  overflow-y: auto;
}
#fileBrowserDialog h1 {
    border-bottom: 1px solid #4E4E4E;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 12px;
    padding-bottom: 4px;
    text-align: left;
}
#fileBrowserDialog ul {
  margin: 0;
  padding: 0;
}
#fileBrowserDialog ul li {
  margin: 2px;
  padding: 4px 0;
  cursor: pointer;
  list-style-type: none;
}
#fileBrowserDialog ul li a {
  color: #000000;
  display: block;
}
#fileBrowserDialog ul li a:hover {
  color: #0000FF;
  background: none;
}
#fileBrowserDialog ul li a span.ui-icon {
  margin: 0 4px;
  float: left;
}

.browserDialog .ui-dialog-buttonpane {
  background-color: transparent !important;
}

.browserDialog.busy .ui-dialog-buttonpane {
  background: url('../images/loading-bar.gif') 10px 50% no-repeat !important;
}
.fileBrowser { margin-left: 5px !important; }

/* jquery ui autocomplete overrides to make it look more like the old autocomplete */
.ui-autocomplete-loading { background: white url('../images/loading16.gif') right center no-repeat; }

.ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden; padding-right: 20px;}

/* ie6 hack */
* html .ui-autocomplete {
  height: 100px;
}
.ui-menu .ui-menu-item {
  background-color: #eee;
}
.ui-menu .ui-menu-item-alternate{
  background-color: #fff;
}
.ui-menu a.ui-state-hover{
  background: none;
  background-color: #0A246A;
  color: #fff;
}

.tab-content {
  background-color:#F8F4E7;
}
span.count {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: none repeat scroll 0 0 #ACA79C;
  color: #FFFFFF;
  margin: -3px 0 0 5px;
  padding: 1px 10px;
}

a.current .count {
  background-color: #777 !important;
}
a.current:hover .count {
  background-color: #333 !important;
}

/* tabs */
ul.tabs {  
    margin:0 !important;
    padding:0;
    height:30px;
}

ul.tabs li {  
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.tabs a { 
    float:left;
    font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid #DFDEDE;
    height:18px;
    background-color:#F1EDE0;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul.tabs a:hover {
    background-color:#FCF8EB;
    color:#333;
}

/* selected tab */
ul.tabs a.current {
    background-color:#F8F4E7;
    border-bottom:1px solid #F8F4E7;
    color:#000;
    cursor:default;
}


/* google buttons */

/*!
 * CSS3 Google Buttons
 *
 * Heavily inspired by css3-github-buttons, Twitter Bootstrap, and
 * of course, Google. I don't claim ownership over any of this.
 *
 * Constructed by Tim O'Donnell (http://github.com/todc)
 */

.g-button {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1', GradientType=0);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  /* IE hacks */

  zoom: 1;
  z-index: 1;
  *display: inline;
  font: bold 12px Helvetica, Arial, sans-serif;
  line-height: 12px;
  color: #444444;
  min-width: 42px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  white-space: nowrap;
}
.g-button:hover,
.g-button:focus,
.g-button:active,
.g-button.active {
  color: #333;
  text-decoration: none;
  border-color: #c6c6c6;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
  outline: none;
}
.g-button:active, .g-button.active {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.g-button:focus {
  /* Blue border on button focus. */
  border-color: #4D90FE;
}
/* overrides extra padding on button elements in Firefox */
.g-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* ..................................................................... Red */
.g-button.red {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #C6322A;
  background-color: #d84a38;
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#d14836));
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#d14836', GradientType=0);
}
.g-button.red:hover, .g-button.red:focus, .g-button.red:active {
  border: 1px solid #AF301F;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #d34332;
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(top, #dd4b39, #c53727);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#c53727', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.g-button.red:active, .g-button.red.active {
  background-color: #cb3d2d;
  background-image: -moz-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -ms-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#b0281a));
  background-image: -webkit-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -o-linear-gradient(top, #dd4b39, #b0281a);
  background-image: linear-gradient(top, #dd4b39, #b0281a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#b0281a', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* .................................................................... Blue */
.g-button.blue {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #3079ED;
  background-color: #4b8cf7;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#4787ed', GradientType=0);
}
.g-button.blue:hover, .g-button.blue:focus, .g-button.blue:active {
  border: 1px solid #2F5BB7;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #4387f5;
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#357ae8', GradientType=0);
}
.g-button.blue:active, .g-button.blue.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* ................................................................... Green */
.g-button.green {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #359947;
  background-color: #35aa47;
  background-image: -moz-linear-gradient(top, #35aa47, #35aa47);
  background-image: -ms-linear-gradient(top, #35aa47, #35aa47);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#35aa47));
  background-image: -webkit-linear-gradient(top, #35aa47, #35aa47);
  background-image: -o-linear-gradient(top, #35aa47, #35aa47);
  background-image: linear-gradient(top, #35aa47, #35aa47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47', endColorstr='#35aa47', GradientType=0);
}
.g-button.green:hover, .g-button.green:focus, .g-button.green:active {
  border: 1px solid #508c36;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #2ba142;
  background-image: -moz-linear-gradient(top, #35aa47, #1d943b);
  background-image: -ms-linear-gradient(top, #35aa47, #1d943b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#1d943b));
  background-image: -webkit-linear-gradient(top, #35aa47, #1d943b);
  background-image: -o-linear-gradient(top, #35aa47, #1d943b);
  background-image: linear-gradient(top, #35aa47, #1d943b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47', endColorstr='#1d943b', GradientType=0);
}
.g-button.green:active, .g-button.green.active {
  background-color: #239c3b;
  background-image: -moz-linear-gradient(top, #35aa47, #088728);
  background-image: -ms-linear-gradient(top, #35aa47, #088728);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#088728));
  background-image: -webkit-linear-gradient(top, #35aa47, #088728);
  background-image: -o-linear-gradient(top, #35aa47, #088728);
  background-image: linear-gradient(top, #35aa47, #088728);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47', endColorstr='#088728', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* .............................................................. Minibutton */
.sm {
  font-size: 11px;
}
.mini {
  height: 13px;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 4px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* ................................................................ Disabled */
.g-button.disabled {
  color: #B8B8B8;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: white;
  cursor: default;
}
.g-button.disabled:hover, .g-button.disabled:active {
  color: #b8b8b8;
  text-shadow: none;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.g-button.disabled2 {
  color: #b8b8b8;
  cursor: default;
  border: 1px solid #dcdcdc;
}
.g-button.disabled2:hover {
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.g-button + .g-button {
  margin-left: 6px;
}

