/* =============================================================================
Content Layout
========================================================================== */
#content {
  padding: 20px;
}
/* column wrapper -- all content goes inside this */
.colmask {
  overflow: visible;
  background: #f4f4f4;
  border: 1px solid #dfdede;
}
/* section + content wrapper */
.section, .Servers form, #addFeed, #addFeedContent {
  overflow: visible;
  /*needed so dropdown button menu is visible */
  border-bottom: 1px solid #dfdede;
}
.section:last-child, .Servers form:last-child {
  border:none;
}
/* left (heading) column */
.col2 {
  float: left;
  width: 275px;
  padding: 12px;
  font-family: "Trebuchet MS",Verdana,Helvetica,sans-serif;
}
/* right (fieldset) column */
.col1 {
  padding: 12px 0;
}

/* =============================================================================
Content Styling ( col2 | col1 )
========================================================================== */
.col2 h3 {
  padding: 6px 8px;
  margin: 0;
  color: #fff;
  vertical-align: middle;
  background: none repeat scroll 0 0 #666;
}

.example {
  background-color: #fefeee;
}

.presets input {
  margin: 2px 0;
}

label.config {
  display: block;
  float: left;
  width: 22%;
  margin-right: 10px;
  margin-left: 20px;
  overflow: auto;
  font-weight: bold;
  text-align: left;
}

label.narrow {
  width: 200px !important;
}

label.wide {
  width: auto !important;
}

.desc {
  display: block;
  padding: 3px 0 0 31px;
  margin: 0 0 0 22%;
  font-size: 12px;
  font-style: italic;
}

.desc.narrow {
margin:0 0 0 200px !important;
}

.desc-check {
font-size:12px;
font-style:italic;
padding:0 1px;
}

.col2 p {
font-size:12px;
color:#666;
margin: 1em 0;
}

div.field-pair {
padding:6px;
clear:both;
float:none;
min-width:585px;
overflow: hidden;
}

#content fieldset {
border:0;
outline:0;
min-width:350px;
margin:0;
padding:0 12px 12px 6px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
padding-left:5px;
border:1px solid #d4d0c8;
}

select .selected {
font-weight:700;
}

select option {
padding-left:5px;
}

input[type='checkbox'] {
display:block;
white-space:nowrap;
padding:0;
margin-left:5px;
}

textarea:hover,
select:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
background-color:#fffff0;
border:1px solid #aaa;
}

.col1 input[type='checkbox'] {
position:absolute;
top:auto !important;
height:16px;
width:16px;
margin-left:0;
}

.alt {
background-color:#eee;
}

.even {
background-color:#dfdede;
}

.readonly {
background-color:#eff;
}

.multiple_cats {
padding:5px 10px !important;
margin-top:2px;
}

.padding {
padding:6px;
}

.disabled {
color:#aaa;
}

.padTable p {
margin-top:0;
}

.nomargin {
margin:0;
}

.copyright {
margin:0;
padding: 6px;
}

.path {
font-family:Verdana,Helvetica,Sans-serif,sans;
color:#000;
font-weight:400;
}

.darkred {
color:#900;
}

.scheduleEntry {
padding:3px 0;
}

.time {
padding:0 10px;
color:#000;
font-weight:700;
}

.frequency {
padding-right:5px;
letter-spacing:.5px;
}

.padTable {
padding:15px;
overflow:auto;
clear:both;
}

.padTable h3 {
margin-top:0;
}

.catTable th, .catTable td {
padding:5px;
}

.catTable th {
text-align:center;
}

.default {
background-color:#ffffe0;
border-bottom:1px solid #aaa;
border-top:1px solid #ddd;
}

.hidden {
visibility:hidden;
}

.float-left {
float:left;
}

.float-right {
float:right;
}

.align-left {
text-align:left;
}

.align-right {
text-align:right;
}

.align-center {
text-align:center;
}

.nowrap {
white-space:nowrap;
}

/* ==========================================================================
Pattern Key - Config > Sorting
========================================================================== */
.Key {
display:none;
border:1px solid #ccc;
width:425px;
}

.Key th {
background:none repeat scroll 0 0 #666;
color:#fff;
margin:0;
padding:3px 9px;
}

.Key td {
padding:2px;
}

.Key tr {
border-bottom:1px solid #ccc;
}

/* ==========================================================================
Info page - Config > Config
========================================================================== */
#infoTable {
font-family:Verdana,Helvetica,Sans-serif,sans;
font-size:12px;
width:100%;
}

#infoTable tr {
line-height:17px;
}
.infoTableHeader, .infoTableCell {
padding:6px;
}

.infoTableHeader {
font-weight:700;
width:160px;
}

.infoTableSeperator {
border-top:1px solid #ddd;
}

/* ==========================================================================
Test e-mail/notifications - Config > Notifications
========================================================================== */
.icon {
padding-left:20px;
}

.loading {
background:url('../images/loading16.gif') no-repeat left bottom;
}

.success {
background:url('../images/yes16.png') no-repeat left bottom;
}

.failure {
background:url('../images/no16.png') no-repeat left bottom;
}


/* ==========================================================================
Pathbrowser - Config > Folders
========================================================================== */
#fileBrowserDialog {
  overflow-y: auto;
}
#fileBrowserDialog ul {
  padding: 0;
  margin: 0;
}
#fileBrowserDialog ul li {
  padding: 4px 0;
  margin: 2px;
  list-style-type: none;
  cursor: pointer;
}
#fileBrowserDialog ul li a {
  display: block;
}
#fileBrowserDialog ul li a:hover {
  color: #00f;
  background: none;
}
#fileBrowserDialog ul li a span.ui-icon {
  float: left;
  margin: 0 4px;
}
#fileBrowserDialog h2 {
  font-size: 20px;
}
.browserDialog.busy .ui-dialog-buttonpane {
  background:url('../images/loading-bar.gif') 10px 50% no-repeat;
}
/* need? */
.fileBrowser {
  margin-left:5px !important;
}


/* ==========================================================================
Autocomplete - Config > Folders
========================================================================== */
.ui-autocomplete-loading {
  background:#fff url('../images/loading16.gif') right center no-repeat;
}
.ui-autocomplete {
  max-height: 180px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* IE6 hack since it doesn't support max-height */
* html .ui-autocomplete {
  height: 180px;
  padding-right: 20px;
}
.ui-menu .ui-menu-item {
  background-color: #eee;
}
.ui-menu .ui-menu-item-alternate{
  background-color: #fff;
}
.ui-menu a.ui-state-hover{
  color: #fff;
  background: none;
  background-color: #0a246a;
}


/* ==========================================================================
RSS page - Config > RSS
========================================================================== */
h2.activeRSS {
margin-bottom:10px;
}

.activeRSS a, .activeRSS a:visited {
text-decoration:none;
color:#000;
}

.activeRSS a:hover {
color:#4b4742;
}

.favicon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: text-bottom;
  width: 16px;
}

.feed {
text-decoration:none;
}

.feed_enabled {
color:#000;
}

.feed_disabled {
color:#900;
}

#subscriptions td {
border: 0 none;
padding-top: 0.4em;
}

#subscriptions .chk {
padding-right: 5px;
width: 14px;
}

#subscriptions .title {
font-weight: bold;
padding-right: 0.3em;
width: auto;
}

.ie6 .subscription-title {
width: 20em;
}

.subscription-title {
max-width: 35em;
min-width: 20em;
overflow: hidden;
white-space: nowrap;
}

.data-row td {
border-top: 1px solid #ddd;
}

.controls {
text-align: right;
padding-right: 5px;
white-space: nowrap;
}

.feed-row td {
color: #777;
max-width: 40em;
padding: 0 0 0.5em;
}
.feed-row div {
padding-right: 10px;
}

/* ==========================================================================
RSS tab results - Config > RSS
========================================================================== */
.tab-content {
  background-color: #fff;
}
ul.nav-tabs a {
  border: 1px solid #ddd;
  background-color: #f1ede0;
  color: #777;
  outline: 0;
  margin-right: 5px;
}
.nav-tabs {
  margin-bottom: 0;
}
.nav-tabs > li > a:hover {
  background-color: #fff;
  border-color: #ddd;
  color: #333;
}
span.count {
  background: none repeat scroll 0 0 #aca79c;
  color: #fff;
  margin: -3px 0 0 5px;
  padding: 1px 10px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.active .count {
  background-color: #777;
}
.nav-tabs a:hover .count {
  background-color: #333;
}
.tab-pane {
  min-width: 600px;
}
/*
#show_api_qrcode:focus,
#show_nzb_qrcode:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
    border-color: rgba(82, 168, 236, 0.8);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
*/

/* =======================================================================
bootstrap overrides
========================================================================== */
img {
  max-width: none;
  /* fixes IE8 */
}
input, textarea, select, .uneditable-input {
  width: auto;
  color: #000;
}
select:focus,
.btn:focus {
  outline: none;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  background-color: #efefef;
  border-color: #ccc;
}
.btn:focus,
.btn:active {
  border: 1px solid #4d90fe;
  outline: none;
  -moz-box-shadow: none;
       box-shadow: none;
}
.btn-primary:focus,
.btn-warning:focus,
.btn-danger:focus,
.btn-success:focus,
.btn-info:focus,
.btn-inverse:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75) inset;
}
.alert {
  font-size: 15px;
  text-align: center;
}
.navbar, label, legend, form, input, textarea, select, .uneditable-input {
  margin-bottom: 0;
}

.navbar .brand {
  color: #fff;
}
.navbar .nav li > a {
  font-weight: bold;
}
.navbar-inner .nav > li.active > a {
  padding: 5px 10px 8px;
  margin-top: 4px;
  margin-bottom: 3px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
input[type="checkbox"] {
  margin: 1px 0;
}


/* submenu related */
.subnav {
  position: relative;
  min-height: 29px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
  background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
  background-image: -o-linear-gradient(top, #f5f5f5, #eee);
  background-image: linear-gradient(top, #f5f5f5, #eee);
  background-repeat: repeat-x;
  border: 1px solid #bfbebe;
  border-top: none;
  border-width: 0 1px 1px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eee', GradientType=0);
  border-radius: 0 0 4px 4px;
  -webkit-border-bottom-right-radius: 4px;
   -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomright: 4px;
       -moz-border-radius-bottomleft: 4px;
          border-bottom-right-radius: 4px;
           border-bottom-left-radius: 4px;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
  padding: 5px 10px;
  margin: 0;
  font-weight: normal;
  text-shadow: none;
  border: 0 none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > li > a:hover {
  color: #000;
  background-color: #f5f5f5;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
  color: #000;
  background-color: #dfdede;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-left: 0 none;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0 none;
}
