<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SABnzbd $version - $T('queued'): $mbleft $T('MB')</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

#if $pane == "Config"#
  #set global $root = '../'#
#else#
  #set global $root = '../../'#
#end if#

        <link rel="shortcut icon" href="${root}staticcfg/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="${root}staticcfg/ico/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="${root}staticcfg/ico/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="${root}staticcfg/ico/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="${root}staticcfg/ico/apple-touch-icon-57x57-precomposed.png">

        <link rel="stylesheet" type="text/css" href="${root}staticcfg/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="${root}staticcfg/css/jquery-ui-1.8.20.custom.css" />
        <link rel="stylesheet" type="text/css" href="${root}staticcfg/css/config.css" />
        <script src="${root}staticcfg/js/jquery-1.7.2.min.js"></script>
        <script src="${root}staticcfg/js/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="${root}staticcfg/js/bootstrap.min.js"></script>
        <script src="${root}staticcfg/js/jquery.form-3.0.3.js"></script>
        <script src="${root}staticcfg/js/jquery-pathbrowser.js"></script>

        <script type="text/javascript">
            \$.Browser = {
                defaults: {
                    title:             'Choose Directory',
                    url:               '${root}api?mode=browse&output=json&apikey=$session',
                    autocompleteURL:   '${root}api?mode=browse&output=json&compact=1&apikey=$session'
                }
            };
            var config_pane = "$pane";
            var help_uri = "$help_uri";
            var apikey = "$session";
            var confirmWithoutSavingPrompt = "$T('Plush-confirmWithoutSavingPrompt')";
            function config_success() {
                \$('.saveButton').each(function () {
                    \$(this).removeAttr("disabled").attr("value", "$T('button-saveChanges')");
                });
            }
            function config_failure() {
                \$('.saveButton').each(function () {
                    \$(this).removeAttr("disabled").attr("value", "$T('smpl-failed')");
                });
            }

            \$(document).ready(function () {

                // \$('.col2 H3').click(function () { \$(this).parent().next().toggle() });

                \$('.sabnzbd_restart').click(function () {
                    \$('.sabnzbd_restart').each(function () {
                        \$(this).attr("disabled", "disabled");
                    });
                    var msg = "$T('explain-Restart')";
                    if (confirm(msg.replace(/\<br(\s*\/|)\>/g, '\n'))) {
                        \$(this).attr("value", "$T('wizard-restarting')");
                        location.href = '${root}config/restart?session=$session';
                    }
                    \$('.sabnzbd_restart').each(function () {
                        \$(this).removeAttr("disabled");
                    });
                    return false;
                });

                \$('#fullform').ajaxForm({
                    beforeSubmit: function () {
                        \$('.saveButton').each(function () {
                            \$(this).attr("disabled", "disabled").attr("value", "$T('smpl-saving')");
                        });
                    },
                    success: function () {
                        setTimeout(config_success, 1000);
                    },
                    error: function () {
                        setTimeout(config_failure, 1000);
                    },
                    timeout: 3000
                });

            });
  
        </script>

        <link rel="shortcut icon" href="${root}staticcfg/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="${root}staticcfg/ico/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="${root}staticcfg/ico/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="${root}staticcfg/ico/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="${root}staticcfg/ico/apple-touch-icon-57x57-precomposed.png">

</head>
<body class="$pane">

<div style="margin: 10px 10px 0 10px;">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="${root}">SABnzbd+</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li>
            <a href="${root}">$T('menu-home')</a>
          </li>
          <li>
            <a href="${root}/queue">$T('menu-queue')</a>
          </li>
          <li>
            <a href="${root}/history">$T('menu-history')</a>
          </li>
          <li class="active">
            <a href="${root}config/">$T('menu-config')</a>
          </li>
          <li>
            <a href="${root}">$T('menu-cons')</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li>
            <a href="$helpuri$help_uri" target="_blank">$T('menu-help')</a>
          </li>
        </ul>
      </div>
 
    </div>
  </div>
  <div class="container">
      <div class="subnav">
        <ul class="nav">
          <li #if $pane == "Config" then 'class="active"' else ""#>
            <a href="${root}config/">$T('menu-config')</a>
          </li>
          <li #if $pane == "General" then 'class="active"' else ""#>
            <a href="${root}config/general/">$T('cmenu-general')</a>
          </li>
          <li #if $pane == "Folders" then 'class="active"' else ""#>
            <a href="${root}config/folders/">$T('cmenu-folders')</a>
          </li>
          <li #if $pane == "Switches" then 'class="active"' else ""#>
            <a href="${root}config/switches/">$T('cmenu-switches')</a>
          </li>
          <li #if $pane == "Servers" then 'class="active"' else ""#>
            <a href="${root}config/server/">$T('cmenu-servers')</a>
          </li>
          <li #if $pane == "Scheduling" then 'class="active"' else ""#>
            <a href="${root}config/scheduling/">$T('Plush-cmenu-scheduling')</a>
          </li>
          <li #if $pane == "Email" then 'class="active"' else ""#>
            <a href="${root}config/notify/">$T('cmenu-notif')</a>
          </li>
          <li #if $pane == "Index Sites" then 'class="active"' else ""#>
            <a href="${root}config/indexers/">$T('cmenu-newzbin')</a>
          </li>
          <li #if $pane == "Categories" then 'class="active"' else ""#>
            <a href="${root}config/categories/">$T('cmenu-cat')</a>
          </li>
          <li #if $pane == "Sorting" then 'class="active"' else ""#>
            <a href="${root}config/sorting/">$T('cmenu-sorting')</a>
          </li>
          <li #if $pane == "Special" then 'class="active"' else ""#>
            <a href="${root}config/special/">$T('cmenu-special')</a>
          </li>
          <li #if $pane == "RSS" then 'class="active"' else ""#>
            <a href="${root}config/rss/">$T('cmenu-rss')</a>
          </li>
        </ul>
      </div>
  </div>
</div><!-- /navbar -->
</div>

    <div id="content">
    <!-- Content start -->
